flow.json
[
    {
        "id": "a4d835db740f5913",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "599bed2ecb570843",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "127.0.0.1",
        "port": "102",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "I0.0",
                "name": "TestVar"
            }
        ]
    },
    {
        "id": "b4edf3fe534bf778",
        "type": "inject",
        "z": "a4d835db740f5913",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "491828ae39ade74c",
                "48951ce894bde406"
            ]
        ]
    },
    {
        "id": "491828ae39ade74c",
        "type": "debug",
        "z": "a4d835db740f5913",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "48951ce894bde406",
        "type": "debug",
        "z": "a4d835db740f5913",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "78d9d3b45feec803",
        "type": "s7 in",
        "z": "a4d835db740f5913",
        "endpoint": "599bed2ecb570843",
        "mode": "single",
        "variable": "",
        "diff": true,
        "name": "",
        "x": 410,
        "y": 400,
        "wires": [
            []
        ]
    }
]